.label {
  display: block;
  margin-bottom: 5px;
  margin-top: 5px;
}

.button {
  display: block;
  margin-top: 10px;
}

.input {
  margin-bottom: 5px;
}

.button:hover {
  background-color: cornflowerblue;
}
